@page "/"

<MudContainer MaxWidth="MaxWidth.Small">
    <MudGrid>
        <MudItem xs="12" Style="margin-top: 20%">
            <MudGrid Spacing="1" Justify="Justify.Center">
                <MudItem>
                    <MudText Typo="Typo.h4">Welcome to <span class="ColorSecondary"><b>Confab!</b></span></MudText>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</MudContainer>
